<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/arjun_g/Downloads/cucumber-picocontainer-example-main/Calc/src/test/java/summ/CalculatorTest.java"><classes><class name="summ.CalculatorTest"><methods><include name="testAddPositive"/><include name="testSubtractPositive"/><include name="testAddNegative"/><include name="testSubtractNegative"/><include name="testAddParameterized"/><include name="testDivideByZero"/></methods></class></classes></test></suite>